# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# DataSources (Too large for Git)
datasources/CUAD/
datasources/FUNSD/
datasources/FUTURA/
datasources/NIST/
datasources/fanny/

# Keep Test data for verification
!datasources/Test/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
