@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 selection:bg-blue-100;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-slate-200/50 shadow-sm;
  }

  .glass-dark {
    @apply bg-slate-100/80 backdrop-blur-lg border border-slate-200 shadow-sm text-slate-800;
  }
}