@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0B1121] text-white;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/30 backdrop-blur-lg border border-white/20 shadow-xl;
  }

  .glass-dark {
    @apply bg-slate-900/50 backdrop-blur-lg border border-white/10 shadow-xl text-white;
  }
}